body{
    background-color: rgb(77,218,141);
    margin:auto;
    border-radius: 40px;
}
h1,h2,h3{
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 32pt;
    font-family: 'Potta One', cursive;
    transition-duration: 4s;
}
h2{
    font-size: 32pt;
}
h3{
    font-size: 26pt;
}
section{
    padding:100px;
    padding-bottom:150px;
    margin:150px;
}
section:nth-child(odd){
    background-color: black;
    color: rgb(77,218,141);
    border:1px solid rgb(77,218,141);
}
section:nth-child(even){
    background-color:rgb(77,218,141);
    color: black;
}
section#cab{            
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    padding:20px;
    margin:0px;
    position: sticky;
    top:0px;
    left:0px;
}
section#primeira{
    min-height: 400px;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
}
section#segunda{
    min-height: 600px;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
}
section#terceira{
    min-height: 400px;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
}
section#quarta{
    min-height: 400px;
    clip-path: polygon(0 0%, 100% -10%, 100% 90%, 0 100%);
}
nav#menu ul{
    list-style:none;
    margin:auto;
}
nav#menu li{
    display: inline-block;
    font-size: 18pt;
    font-family: 'Coda Caption', sans-serif;
    background-color: rgb(77,218,141);
    color:black;
    padding:10px;
    border-radius:17px;
    text-transform: uppercase;
    transition-duration: 4s;
}
nav#menu li:hover{
    color:red;
    transition: 0.8s;
}
img#logo{
    display: inline-block;
    max-width: 256px;
    transform: translate(0%,40%);
}
img.cliente{
    max-width: 256px;
    border-radius: 100px;
}
div.texto{
    columns: 400px;
    column-gap: 1cm;
}
div.conteudo{
    display: block;
}
div.coninter{
    max-width:100%;
    display: block;
    break-inside: avoid;
    transition-duration: 4s;
    border:1px black red;
    text-align: center;
}
iframe{
    border-radius: 20px;
    display: inline-flex;
    float:left;
    width:426px;
    height:240px;
}
q{
    font-family: 'Potta One', sans-serif;
}
p{
    text-indent: 10%;
    text-align: justify;
    font-family: 'Potta One';
    font-size: 16pt;
}
p.box{
    text-indent: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22pt;
    display: inline-block;
    border:1px solid black;
    margin:auto;
    padding:64px;
}
input[type="text"]{
    font-size: 32pt;
    color:black;
    font-family: 'Potta One';
}
input[type="submit"]{
    background-color:rgb(77,218,141);
    font-size: 18pt;
    margin:12px;
    padding:12px;
    color:black;
    font-family: 'Potta One';
    border-radius: 18px;
}
.fluido{
    display:inline;
    text-align: center;
    margin:auto;
}