body{
    background-image: url("https://i.imgur.com/Fuif4e0.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.linha{
    display: inline-block;
}
nav#menu li{
    display: inline-block;
    font-size: 18pt;
    font-family: 'Coda Caption', sans-serif;
    background-color: rgb(77,218,141);
    color:black;
    padding:10px;
    border-radius:17px;
    text-transform: uppercase;
    transition-duration: 4s;
}
nav#menu li:hover{
    color:red;
    transition: 0.8s;
}
nav#menu a{ 
    text-decoration: none;
}
img#logo{
    max-width: 100%;
}
img.cliente{
    max-width: 128px;
    border-radius: 128px;
    display: inline-block;
}
img.icon{
    max-width: 64px;
}
img.capitular{
    display: inline-block;
    max-width: 384px;
}
q{
    font-family: 'Potta One', sans-serif;
    max-width: 512px;
    margin: auto;
}
.fluido{
    display:inline-block;
    text-align: center;
    margin:auto;
    max-width: 300px;
}
section{
    margin-bottom: 150px;
}
section#cab{
    margin:0px;
    background-image: linear-gradient(to right, rgba(77,218,141,1) , rgba(0,0,0,0));
}
div.texto{
    columns: 360px;
    padding: 5%;
}
div.conteudo:nth-child(odd){
    background-color: #000000a0;
    color:#4dda8d;
}
div.conteudo:nth-child(even){
    background-color: #4dda8d80;
    color:#000000;
}
div.coninter{
    text-align: center;
}
p{
    text-indent: 5vw;
    text-align: justify;
    font-family: "Potta One";
}
p.central{
    text-indent: 0vw;
    text-align: center;
    display: inline-block;
    padding:30px;
}
h1,h2,h3{
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 32pt;
    font-family: 'Potta One', cursive;
    transition-duration: 4s;
}
section#primeira,section#segunda,section#terceira,section#quarta{
    background-image: url("https://i.imgur.com/DqRrwSA.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section#terceira div.conteudo, section#ultima div.conteudo{
    text-align: center;
    margin:auto;
}
input[type="submit"]{
    background-color:rgb(77,218,141);
    font-size: 18pt;
    margin:auto;
    padding:12px;
    color:black;
    font-family: 'Potta One';
    border-radius: 18px;
}
span#hora{
    position: absolute;
    margin:auto;
    right:10px;
    top:10px;
}